/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

header{
    height: 8%;
}
.top-section{
    height: 77.6%;
}
body nav a{
    color: lightgrey;
    text-decoration: none;
    display: inline-block;
    margin: 1vw 3vw;
    text-align: center;
    font-size: 2vw;
    
 }
 .logo{
    display: inline-block;
    height: 3.5vw;
    width: 12vw;
    position: absolute;
    top: .5vw;
    right: 3vw;
}

h1{
    height: 10vw;
    width: 35vw;
    font-size: 9vw;
    text-align: center;
    display: inline-block;
    margin-left: 13vw;
}
#button{
    display: block;
    text-decoration: none;
    color: rgb(58, 56, 56);
    box-sizing: border-box;
    width: 17.5vw;
    height: 3.5vw;
    font-size: 2vw;
    text-align: center;
    line-height: normal;
    margin: 0 20vw;
    margin-top: 1vw;
    border: 1px solid black;
}
#button:hover{
    color: white;
    background: rgb(58, 56, 56);
}
.enter{
    display: inline-block;
    width: 50vw;
}
.circle{
    margin-top: 3vw;
    margin-left: 6vw;
    display: inline-block;
    height: 30vw;
    width: 30vw;
     

 }
 .middle-section{
    margin-top: 4vw;
    height: 53vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
 }
 .feat{
    display: inline-block;
    margin-top: 1vw;
    font-size: 1.83vw;
    width: 50%;
    padding: 1vw;
    word-wrap: break-word;
    vertical-align: middle;
 }
 .abo{
    margin-top: 1vw;
    display: inline-block;
    font-size: 1.83vw;
    width: 49%;
    padding: 1vw;
    word-wrap: break-word;
    vertical-align: middle;
}
.serve{
    display: inline-block;
    width: 32%;
    word-wrap: break-word;
    padding: 1vw;
    font-size: 1.83vw;
}
.prod{
    display: inline-block;
    width: 32%;
    word-wrap: break-word;
    padding: 1vw;
    font-size: 1.83vw;
}
.vis{
    display: inline-block;
    width: 32%;
    word-wrap: break-word;
    padding: 1vw;
    font-size: 1.83vw;
}
.middle-img{
    margin-top: 2vw;
    width: 100vw;
    height: 16vw;
    margin-bottom: 2vw;
}
.bottom-section{
    margin-top: 7vw;
    height: 20vw;
    font-size: 2vw;
    padding: 1vw;
}
.space{
    line-height: 300%;
}

footer{
    margin-top: 3vw;
    text-align: center;
    font-size: 2vw;
}